.main {
  margin: 20px 20px 20px 60px;
}

.frameSelectorTitle {
  font-size: 34px;
  color: rgb(95, 90, 90);
  text-align: center;
  margin-bottom: 40px;
}

.activeFrame {
  background: rgb(172, 172, 224);
  background: radial-gradient(
    circle,
    rgba(172, 172, 224, 1) 0%,
    rgba(157, 210, 133, 1) 2%,
    rgba(197, 214, 116, 1) 11%,
    rgba(0, 212, 255, 1) 100%
  );
}

.renderFrameSelectionComponent {
  -webkit-box-shadow: 5px 5px 15px -4px #000000;
  box-shadow: 5px 5px 15px -4px #000000;
  margin: 120px 0 0 100px;
}

.selectedFrameContainer {
  max-height: 400px;
  max-width: 400px;
}

.summarySection {
  margin-bottom: 80px;
}

.frameSelectionSummaryTitle {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(95, 90, 90);
}

.orientationPictureSelection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 120px));
  padding-left: 20px;
}

.portraitDisplay {
  border: solid 3px rgb(107, 104, 104);
  box-shadow: 6px 5px 0px 0px rgba(186, 179, 179, 0.75);
  -webkit-box-shadow: 6px 5px 0px 0px rgba(186, 179, 179, 0.75);
  -moz-box-shadow: 6px 5px 0px 0px rgba(186, 179, 179, 0.75);
  background-color: rgb(202, 212, 208);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding-top: 30px;
  height: 100px;
  width: 80px;
}

.landscapeDisplay {
  border: solid 3px rgb(107, 104, 104);
  box-shadow: 6px 5px 0px 0px rgba(186, 179, 179, 0.75);
  -webkit-box-shadow: 6px 5px 0px 0px rgba(186, 179, 179, 0.75);
  -moz-box-shadow: 6px 5px 0px 0px rgba(186, 179, 179, 0.75);
  background-color: rgb(202, 212, 208);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding-top: 15px;
  height: 70px;
  width: 120px;
}

.frameSizeSelection {
  display: grid;
  grid-template-columns: repeat(4, minmax(20px, 60px));
  column-gap: 10px;
  row-gap: 20px;
  padding-left: 10px;
}

.frameSizeDescription {
  font-size: 13px;
  padding: 10px 0 0 2px;
}

.frameSizeSelectionCta {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50px;
  color: white;
  position: relative;
  cursor: pointer;
}

.frameSizeSelectionCta:hover {
  background: rgb(172, 172, 224);
  background: radial-gradient(
    circle,
    rgba(172, 172, 224, 1) 0%,
    rgba(157, 210, 133, 1) 2%,
    rgba(197, 214, 116, 1) 11%,
    rgba(0, 212, 255, 1) 100%
  );
  color: black;
}

.frameSizeText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.framesSelector {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 100px));
  padding-bottom: 50px;
  border-bottom: solid rgb(228, 223, 223) 1px;
}

.imageUploadPreviewSection {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.renderSizeOrientationAndInformationDisplay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
}

.detailsDescription {
  font-size: 18px;
  color: rgb(31, 29, 29);
  padding-left: 10px;
}

.priceDescription {
  font-size: 32px;
  padding-left: 10px;
}

.imageUploaderPreviewSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

input[type="file"] {
  display: none;
}

.pictureUploader {
  color: rgb(95, 90, 90);
  border: solid rgb(95, 90, 90) 1px;
  cursor: pointer;
  text-align: center;
  padding-top: 15px;
  margin-top: 1rem;
  width: 280px;
  height: 60px;
}

.imagePreviewer {
  width: 180px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 6px 1px 13px -3px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 6px 1px 13px -3px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 6px 1px 13px -3px rgba(0, 0, 0, 0.49);
}
